body{

	background-color:#777;

}
header {
	background:#ebebeb;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
	margin-right:100px;
	margin-left:100px;
}
section{
	padding:20px;
	margin-bottom:10px;	
	text-align:center;



}
#nav{
	text-align:center;
	background:#ebebeb;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
	margin-right:100px;
	margin-left:100px;	

}

#left {
	text-align:center;
	background:#ebebeb;
	float:left;
	width:45%;
	position:relative;
}
article{
	text-align:center;
	background:#777;
	height:100px;
	clear:both;
	}
h3
{
	text-align:center;
	background:#ebebeb
	width:75px;
	background-color:#ebebeb;
	margin-left:10%;
	margin-right:10%;
}

#right {
	left-margin:10px;
	float:right;
	text-align:center;
	background:#ebebeb;
	width:45%;
	height:130px;


}
footer{
	padding:20px;
	margin-bottom:20px;		
	text-align:center;
	clear:both;
	background:#ebebeb;
	overflow:auto;
	margin-right:100px;
	margin-left:100px;
}